#map-container {
  height: 50vh;
  width: 50vw;
  border-radius: 10px;
  overflow: hidden;
}


.am{
  background-color: #3366ff;
  border: 1px solid lightblue
}

.pm{
  background-color: #cc3300;
  border: 1px solid lightblue
}

.marker {
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

