.App {
  display: flex;
  flex-direction: column;
  background: slateblue;
  text-align: center;
  align-items: center;
}

#Title {
  border: black;
  border-radius: 2px;
  padding: 5px;
  background: skyblue;
  font-size: 0.7em;
  width: 100%
}

#Footer {
  margin-top: 2em;
  background: skyblue;
  width: 100%;
  padding: 10px
}

